EMAIL_ADDRESS=seu-endereco@cloudmailin.net
WEBHOOK_SECRET_TOKEN=gere-com-python3-c-import-secrets-print-secrets.token_urlsafe-32
WEBHOOK_PORT=8025
PORTAL_PORT=8080
PORTAL_SECRET_KEY=gere-com-python3-c-import-secrets-print-secrets.token_urlsafe-32
PORTAL_API_KEY=gere-com-python3-c-import-secrets-print-secrets.token_urlsafe-32
